body {
  background-color: grey;
}
.jumbotron {
  background-image: url("./img/cbeans.jpg");
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  background-color: black;
}
